<div class="search" role="search">
  <div class="search-input-wrap">
    <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search design﹢code"
      aria-label="Search design﹢code" autocomplete="off">
    <label width="24" height="24" for="search-input" class="search-label">
      <span class="icon icon-search"></span>
    </label>
  </div>
  <div id="search-results" class="search-results"></div>
</div>
<div class="aside-title">Sections</div>
{% assign archive_page = site.html_pages | where: "title", "Archive" | first %}
{% assign home_page = site.html_pages | where: "title", "Home" | first %}
{% assign pages_top = site.html_pages | where_exp:"item", "item.title != nil" | where_exp:"item", "item.parent == nil" | where_exp:"item", "item.nav_exclude != true" | size %}
{% if pages_top > 0 %}
{% for item in site.html_pages | where_exp:"item", "item.title != nil" | where_exp:"item", "item.parent == nil" | where_exp:"item", "item.nav_exclude != true" %}
{% unless item.title == "Home" or item.title == "Archive" %}
<a class="aside-link" href="{{ folder }}{{ item.url }}">{{ item.title }}</a>
{% endunless %}
{% endfor %}
{% endif %}



{% if site.links %}{% for link in site.links %}<a href="{{ link.last }}" class="aside-link" rel="noopener noreferrer">{{ link.first }}</a>{% endfor %}{% endif %}
<div class="dropdown">
  <button class="dropbtn aside-title hidden">Translate &rsaquo;</button>
  <div class="dropdown-lang" style="display:none">
    <a href="#" hreflang="en" class="notranslate lang-select aside-link aside-selected">English</a>
    <a href="#" hreflang="es" class="notranslate lang-select aside-link">Español</a>
    <a href="#" hreflang="it" class="notranslate lang-select aside-link">Italiano</a>
    <a href="#" hreflang="de" class="notranslate lang-select aside-link">Deutsch</a>
    <a href="#" hreflang="pt" class="notranslate lang-select aside-link">Português</a>
    <a href="#" hreflang="fr" class="notranslate lang-select aside-link">Français</a>
  </div>
</div>