@charset "UTF-8";

#translate,
#google_translate_element,
.skiptranslate,
.goog-te-banner-frame.skiptranslate,
.goog-tooltip,
.goog-tooltip:hover {
    display: none !important
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important
}
.google-src-text {
    background-color: transparent !important;
    text-decoration: none !important;
    z-index: 1;
}



:root {
    counter-reset: a;
}

main {
    counter-reset: h2;
    counter-reset: footnote;
}

h2 {
    counter-increment: h2;
}

h2::before {
    content: counter(h2, upper-roman) ". ";
    display: inline-block;
    padding: 0 1rem 0 0;
}

main p a[href^="#"]::before {
    counter-increment: a;
}

main footer a::before {
    counter-increment: footnote;
}

main ol ,
main ul {
    list-style-position: outside;
    padding-left: 5ch !important;
    color: var(--cd);
}

main ul {
    list-style-type: square;
}

main ul li {
    color: var(--c1);
}

main ol li {
    padding-left: 1ch;
    margin-bottom: .65rem;
}

@media screen {

    h2::before {
        display: none;
    }

    main h2 {
        padding-left: 2ch;
    }


    hr,
    #menu:checked~main {
        display: none
    }

    #reading-time {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.3rem;
        word-spacing: .01vw;
        color: var(--c0);
    }

    ::selection {
        background: var(--cb);
        color: var(--c1)
    }

    ::-moz-selection {
        background: var(--cb);
        color: var(--c1)
    }

    ::-webkit-selection {
        background: var(--cb);
        color: var(--c1)
    }

    header {
        position: absolute;
        top: 1rem;
        left: 1.75rem;
        z-index: 20;
        width: 100%;
    }



    #logo {
        user-select: none;
    }

    #logo-link {
        flex-direction: column;
        border: .2rem solid transparent;
        border-radius: .6rem;
        color: var(--c0);
        max-width: fit-content;
    }

    #logo-link:hover {
        border-color: var(--cc);
    }

    #slogan {
        display: flex;
        letter-spacing: .04rem;
        user-select: none;
        padding-left: .1rem;
        color: var(--c0);
        font-size: .68rem;
    }




    main h1 {
        font-size: 2.8rem;
        margin: 10rem auto 0;
        line-height: 1;
        text-align: center;
        color: var(--ce);
    }

    main h2 {
        margin: 2.1rem auto 1.4rem;
        font-size: 1.9rem;
        letter-spacing: 0.1em;
        line-height: 1;
        color: var(--c2);
    }

    main h2::before {
        padding-left: 2.15rem;
        color: var(--c3);
    }

    main h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        line-height: 1;
        padding: .8rem 0 .3rem;
        margin: 2rem 0 1.4rem 0;
        color: var(--c2);
        text-align: center;
    }

    main p,
    main ul,
    main ol {
        margin: 1.4rem auto;
        font-size: 1.2rem;
        line-height: 1.7rem;
        word-spacing: .01vw;
        hyphens: auto;
        vertical-align: baseline;
        padding: 0 2.5rem 0 .25rem;
    }

        @supports (text-wrap: pretty) {
    main p,
        main ul,
        main ol {
            text-wrap: pretty;
        }
        }


    main p,
    main ol {
        color: var(--c1);
    } 

    main p:hover {
        color: var(--c0);
    }


    main p a[href^="#"]::before {
        content: counter(a);
        border: 2px solid var(--c4);
        border-radius: .4vh;
        min-width: 2.2ch;
        display: inline-block;
        text-align: center;
        margin: 0 .5ch;
        color: var(--c2);
        vertical-align: .05rem;
        font-size: .9rem;
        line-height: .9rem;
        padding-top: .3rem;
        transition: border-color 0.3s ease, color 0.3s ease;
    }

    main p a[href^="#"]:hover::before {
        border-color: var(--c3);
        color: var(--c2);
    }

    label[for="toc"] {
        position: absolute;
        z-index: 10;
        height: 4rem;
        width: 4rem;
        user-select: none;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        pointer-events: auto;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128"><path d="M59.2 96.5H21.7c-3.7 0-6.7-3-6.7-6.7V37.4a1 1 0 1 0-2 0v52.4c0 4.8 4 8.7 8.7 8.7h37.5a1 1 0 1 0 0-2zM114 36.4a1 1 0 0 0-1 1v52.4c0 3.7-3 6.7-6.7 6.7H68.8a1 1 0 1 0 0 2h37.5c4.8 0 8.7-4 8.7-8.7V37.4c0-.6-.4-1-1-1z"/><path d="M103.2 92.3a6 6 0 0 0 6.1-6V34.9a6 6 0 0 0-6-6H70.6c-3 0-5.5 1.6-6.8 4a7.8 7.8 0 0 0-6.8-4H24.5a6 6 0 0 0-6 6v51.4a6 6 0 0 0 6 6h32.6c3.2 0 5.8 2.7 5.8 5.9a1 1 0 1 0 2 0c0-3.2 2.6-5.9 5.8-5.9h32.5zM63 93a7.8 7.8 0 0 0-5.8-2.6H24.5a4 4 0 0 1-4-4V34.9a4 4 0 0 1 4-4h32.6c3.2 0 5.8 2.5 5.8 5.8v56.2zm2 0V36.8c0-3.3 2.6-5.9 5.8-5.9h32.5a4 4 0 0 1 4.1 4.1v51.4a4 4 0 0 1-4 4H70.6c-2.3 0-4.4 1-5.8 2.7z"/></svg>');
        background-repeat: no-repeat;
        background-position: center -.25rem;
        background-size: 4rem;
        filter: brightness(0) saturate(100%) invert(91%) sepia(15%) saturate(192%) hue-rotate(36deg) brightness(87%) contrast(84%);
        left: calc(50% - 2rem);
        top: 5.75rem;
    }

    label[for="toc"]:hover {
        filter: brightness(0) saturate(100%) invert(55%) sepia(6%) saturate(596%) hue-rotate(354deg) brightness(89%) contrast(86%);
    }

    #index {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 1.5s ease, opacity 0.5s ease;
    }

    #toc:checked~#index {
        max-height: 100dvh;
        opacity: 1;
    }

    #index {
        position: relative;
        width: 77.5%;
        min-width:260px;
        max-width: 1200px;
        margin: 0 auto;
    }


    #chapters {
        padding: 0 1rem;
        counter-reset: heading;
    }

    #chapters a {
        font-size: 1.3rem;
        line-height: 2.25rem;
        display: flex;
        position: relative;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><circle cx="0.5" cy="0.5" r="0.5" fill="%230F0D06"/></svg>');
        background-size: 1ch 1px;
        background-repeat: repeat-x;
        background-position: left bottom .8rem;
        text-decoration: none;
    }

    #chapters a::after {
        content: counter(heading);
        counter-increment: heading;
        position: absolute;
        right: 0px;
        text-align: right;
        min-width: 2ch;
        font-variant-numeric: tabular-nums;
        word-spacing: .01vw;
        color: var(--c3);
        background: var(--c7);
        padding-left: 4px;
        font-weight: bold;
    }

    #chapters a span {
        padding-right: 4px;
        word-spacing: .01vw;
        font-weight: 600;
        color: var(--c1);
        background: var(--c7);
    }

    #chapters a:hover::after,
    #chapters a:hover span {
        color: var(--ce);
    }


    main footer p {
        color: var(--c1);
        padding-left: 2.35rem;
        padding-left: 4.4rem;
    }

    main footer a::before {
        content: counter(footnote);
        border: 1px solid var(--c3);
        color: var(--c3);
        min-width: 2.6ch;
        display: inline-block;
        border-radius: .4vh;
        text-align: center;
        margin-right: 1.25ch;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-top: .2rem;
        line-height: 1.4rem;
        font-size: 1rem;
        transition: color 0.3s ease;
        margin-left: -2.5rem;
        font-weight: bold;
        text-align: center;
    }

    main footer p:hover a::before {
        color: var(--ce);
    }

    main footer p a {
        border-radius: none;
        background: none;
        text-decoration: none;
        color: var(--ce);
        font-weight: bold;
        text-decoration: underline;
        text-decoration-style: dotted;
        text-underline-offset: 0.3rem;
        text-decoration-thickness: .09rem;
        text-decoration-color: var(--c3);
        transition: text-decoration 0.3s ease;
    }

    main footer p a:hover {
        text-decoration-style: solid;
        background: none;
    }

    main footer p a::after {
        content: "";
        color: var(--c3);
        display: block;
        text-decoration: none;
        padding-top: .4rem;
    }

    #menu~label {
        position: absolute;
        z-index: 10;
        top: 1.75rem;
        right: 1.75rem;
        width: 48px;
        height: 48px;
        user-select: none;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        pointer-events: auto;
        z-index: 20;
    }

    #menu:checked~label {
        position: fixed;
    }

    #menu:checked~label .icon-menu {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g stroke="%23a2a585" stroke-width="1.5"><path stroke-linecap="round" d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5"/></g></svg>');
    }

    .border,
    .icon {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
    }

    .border {
        background-image: url('data:image/svg+xml, <svg viewBox="0 0 24 24" stroke="%23D3D7C9" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke-width="1.5" d="M2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C22 4.92893 22 7.28595 22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12Z" /></svg>');
    }

    .icon-menu {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g fill="%23a2a585"><path d="M9 12C9 12.5523 8.55228 13 8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12Z" /><path d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z" /><path d="M17 12C17 12.5523 16.5523 13 16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12Z" /></g></svg>');
    }

    .icon-search {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="%231C274C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>');
    }

    label[for="menu"]:hover .border {
        filter: brightness(0) saturate(100%) invert(82%) sepia(10%) saturate(562%) hue-rotate(26deg) brightness(95%) contrast(87%);
    }

    label[for="menu"]:hover .icon-menu {
        filter: brightness(0) saturate(100%) invert(55%) sepia(19%) saturate(430%) hue-rotate(26deg) brightness(90%) contrast(90%);
    }

    aside {
        z-index: 2;
        left: 0;
        position: relative;
        min-height: 100dvh;
        width: 100dvw;
        background-color: var(--c6);
        position: fixed;
        top: -100dvh;
        user-select: none;
        padding-top: 6rem;
    }

    .aside-title {
        font-weight: 600;
        font-size: .9rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: left;
        padding: .5rem 0 .5rem 2.75rem;
    }


    .aside-link {
        display: block;
        width: 100%;
        padding: .6rem 11.75%;
        text-decoration: none;
        color: var(--c1);
    }

    .aside-link::after {
        display: inline-flex;
        height: 1rem;
        content: "\2197";
        font-size: .75rem;
        padding-left: 1ch;
        font-weight: 700;
        color: var(--ce);
    }

    .aside-link:hover {
        opacity: 1;
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .aside-link:hover::after {
        opacity: 1;
        text-decoration: none;
    }

    .aside-selected {
        font-weight: 700;
    }

    .aside-selected::after {
        padding-left: .75ch;
    }

    #menu:checked~header {
        position: fixed;
    }

    button,
    [type='button'],
    [type='reset'],
    [type='submit'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    /* Search */

    .search {
        position: relative;
        z-index: 2;
        flex-grow: 1;
        height: 4rem;
        transition: padding linear 200ms;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .search-input {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0.75rem 1rem 0.5rem 2.5rem;
        letter-spacing: .04rem;
        font-size: 1rem;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        border-radius: 0;
    }

    .search-label {
        position: absolute;
        display: flex;
        height: 100%;
        padding: 0.6rem 0 0 1rem;
    }

    .search-input-wrap {
        position: relative;
        z-index: 1;
        height: 3rem;
        overflow: hidden;
        border-radius: 7px;
        transition: height linear 200ms;
        margin: 0 1.55rem;
        background-color: var(--c7);
    }

    .search-label .search-icon {
        width: 1.2rem;
        height: 1.2rem;
        align-self: center;
    }

    .search-input:focus {
        outline: 0;
    }

    .search-results-list {
        font-size: 0.875rem !important;
        list-style: none;
    }

    .search-results-list-item {
        padding: 0;
        margin: 0;
    }

    .search-result {
        margin-bottom: .5rem;
        min-height: 6rem;
        display: inline-block;
        width: calc(100% - 2.5rem);
        padding: 0.25rem 0.75rem;
        text-decoration: none;
        color: var(--r2);
        border-radius: .6vh;
        border: 1px solid transparent;
    }

    .search-result-title {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .search-result-doc {
        display: flex;
        align-items: center;
        word-wrap: break-word;
    }

    .search-result-doc.search-result-doc-parent {
        font-size: 0.75rem;
    }

    .search-result-doc .search-result-icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
        flex-shrink: 0;
    }

    .search-result-doc .search-result-doc-title {
        overflow: auto;
        font-size: 1.4rem;
        font-family: var(--font-title), var(--font-basic);
        color: var(--c2);
        color: var(--r1);
    }

    .search-result-section {
        margin-left: 1.5rem;
        word-wrap: break-word;
    }

    .search-result-rel-url {
        display: none;
    }

    .search-result-previews {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        margin-left: 0.5rem;
        word-wrap: break-word;
        font-size: 0.75rem;
    }

    .search-result-preview+.search-result-preview {
        margin-top: 0.25rem;
    }

    .search-result-highlight {
        font-weight: bold;
    }

    .search-no-result {
        padding: 0.5rem 0.75rem;
        font-size: 0.75rem;
    }

    .search-active #menu:checked~aside .search-results {
        display: block;
        position: fixed;
        overflow-y: auto !important;
    }

    .search-active #menu:not(:checked)~aside .search-results {
        display: none;
    }

    .search-result:hover,
    .search-result.active {
        background-color: var(--c6);
        border-color: var(--c3);
    }

    .search-result:hover .search-result-doc-title {
        color: var(--ce);
    }

    main li .highlighter-rouge,
    main p .highlighter-rouge {
        font-size: 1.054rem;
        padding: 0 .3rem;
        color: var(--c0) !important;
        font-weight: 500 !important;
        text-shadow: 0.5px 0.3px 0.3px var(--c0);
        letter-spacing: .2px !important;
        background: var(--cb);
        border-radius: .5vh;    
    }

    .search-active #menu:checked~aside .search-results {
        background-color: var(--c6);
        min-width: 100dvw;
        height: calc(100dvh - 10rem);
        top: 10rem;
        left: 0;
    }

    div.highlighter-rouge {
        padding-left: 1.5rem;
        line-height: 1.5;
        max-width: 80ch;
        overflow-x: auto;
    }


                table {
                    border-collapse: collapse;
                    font-size: 0.9em;
                    min-width: 280px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
                    border-radius: 5px;
                    overflow: hidden;
                    max-width: 70%;
                    margin: 0 auto;
                }
        
                table thead tr {
                    background-color: var(--ce);
                    color: var(--c7);
                    text-align: left;
                    font-weight: bold;
                }
        
                table th,
                table td {
                    padding: 12px 15px;
                }
        
                table tbody tr {
                    border-bottom: 1px solid var(--c5);
                }
        
                table tbody tr:nth-of-type(even) {
                    background-color: var(--c6);
                }
        
                table tbody tr:last-of-type {
                    border-bottom: 2px solid var(--ce);
                }
        
                table tbody tr:hover {
                    background-color: var(--cb);
                    color: var(--c0);
                    cursor: pointer;
                }
        
                table caption {
                    font-size: 1.2em;
                    margin-bottom: 10px;
                    font-weight: bold;
                    color: var(--c2);
                }

        #comments {
            padding-bottom: 2rem;
        }
    
        #comments-utteranc {
            padding-left: .1rem;
            filter: grayscale(50%) sepia(10%) hue-rotate(50deg);
            opacity: .9;
        }

    @media (width > 575px) {


        #comments-utteranc {
            padding: 0 1rem;        
            
        }


        main p,
        main ul,
        main ol {
            padding: 0 2.25rem;
            text-align: unset;
        }

    main>.highlighter-rouge {
        padding: 1rem!important;
        line-height: 1.2;
        }


        h2::before {
            display: inline-block;
        }

        main h2 {
            padding-left: unset!important;
        }


        div.highlighter-rouge>button,
        div.listingblock>div.content>button,
        figure.highlight>button {
            border-color: var(--rf)!important;
        }

        main h1,
        main h2,
        main h4,
        main h5,
        main h6,
        main p,
        main ul,
        main ol {
            width: 77.5%;
            max-width: 1200px;
            min-width: 560px;
        }

        main>.highlighter-rouge {
            min-height: 3.25rem;
            min-width: 520px;
            width: 72%;
            max-width: 1100px;
        }

        hr {
            display: block;
            margin-top: 1.75rem;
            border-top: 2px solid var(--c4);
            border-bottom: none;
        }

        main h3::before,
        main h3::after {
            content: '';
            flex: 1;
            border-top: 2px solid var(--c4);
            max-width: 460px;
            overflow: hidden;
        }

        main h3::before {
            margin-right: 40px;
        }

        main h3::after {
            margin-left: 40px;
        }

        .highlight,
        pre.highlight,
        div.highlighter-rouge,
        div.highlighter-rouge>button,
        div.listingblock>div.content,
        div.listingblock>div.content>button,
        figure.highlight,
        figure.highlight>button,
        .highlight .table-wrapper td,
        .highlight .table-wrapper pre {
            background: var(--rf);
        }

        div.highlighter-rouge,
        div.listingblock>div.content,
        figure.highlight {
            border: 2px solid var(--c5);
        }


    }



    @media (width >=64rem) {

        #reading-time {
            margin-top: 0rem!important;
        }

        h1 {
            max-width: 93.45%;
            font-size: 3.2rem;
            padding-top: 0;
            padding-bottom: 3rem;
        }

        label[for="toc"] {
            right: 1.75rem;
            top: 1.75rem;
            left: unset;
        }

        #menu:checked~main {
            display: initial;
            margin-top: 0;
            width: calc(100% - 15.5rem);
            margin-left: 15.5rem;
        }

        .dropbtn {
            text-align: center;
            width: 100%;
        }

        .aside-link::after {
            content: none;
        }

        .aside-link {
            text-decoration: none;
            font-weight: 500;
            letter-spacing: .005rem;
            padding: .75rem 8.5% .5rem 8.5%;
        }

        .aside-link:hover {
            background-color: var(--ce);
            color: var(--c7);
            text-decoration: none;
        }

        .aside-selected {
            font-weight: 700;
        }

        .search {
            padding: 0;
            margin: 0 -1rem;
        }

        aside {
            width: 15.5em;
            left: -15.5rem;
            top: 0;
            border-right: 1px solid var(--c5);
        }

        .aside-title {
            text-align: center;
            padding: .5rem 0;
        }

        header {
            width: 15.5em;
            left: 0;
            display: flex;
            justify-content: center;
        }

        #menu~label {
            top: calc(100% - 46px);
            left: 1.25rem;
            width: 32px;
            height: 32px;
            position: fixed;
            z-index: 20;
            pointer-events: all;
        }

        #menu:checked~label {
            left: 13rem;
        }

        #menu:checked~label .icon-menu,
        .icon-menu {
            background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" fill="%23a2a585" d="M8.29 5.29c.39-.4 1.02-.4 1.41 0l5.99 6c.39.39.39 1.02 0 1.41l-6 6c-.4.39-1.03.39-1.42 0 -.4-.4-.4-1.03 0-1.42l5.29-5.3 -5.3-5.3c-.4-.4-.4-1.03 0-1.42Z"/></svg>');
            background-size: 70%;
        }

        #menu:checked~label .icon-menu {
            transform: rotate(180deg);
        }

        main footer p a::after {
            content: "\2013";
            display: inline-block;
            padding: 0 1ch;
        }

        .search-active #menu:checked~aside .search-results {
            background-color: var(--c7)!important;
            min-width: calc(100dvw - 17rem)!important;
            height: 100dvh!important;
            top: 0!important;
            left: 17rem!important;

        }

    }

    #logo-link:focus {
        outline: 4px solid var(--cc);
        outline-offset: -3px;
    }

    .aside-link:focus
    {
        font-weight:bold;
    }

    .dropbtn:focus,
    p a:focus {
        outline: none;
        color: var(--r0);
    }

    main p a[href^="#"]:focus::before {
        border-color: var(--ce);
        color: var(--r0);
    }



    /* Highlight */



    main>.highlighter-rouge {
        font-family: var(--font-code), var(--font-basic);
        font-variant-ligatures: common-ligatures;
        margin: 0 auto;
        font-size: .925rem;
    }

    .highlight pre {
        white-space: pre-wrap;
    }

    .language-plaintext.highlighter-rouge {
        color: var(--r5);
        font-weight: 500;
        letter-spacing: 1px
    }

    .highlight .k,
    .highlight .kc,
    .highlight .kd,
    .highlight .kn,
    .highlight .kp,
    .highlight .kr,
    .highlight .kt {
        color: var(--r0)
    }

    .highlight .m,
    .highlight .mf,
    .highlight .mh,
    .highlight .mo,
    .highlight .il,
    .highlight .mi {
        color: var(--r9)
    }

    .highlight .bp,
    .highlight .vc,
    .highlight .vg,
    .highlight .na,
    .highlight .nb,
    .highlight .nc,
    .highlight .no,
    .highlight .nd,
    .highlight .ni,
    .highlight .ne,
    .highlight .nl,
    .highlight .nv,
    .highlight .py {
        color: var(--r3)
    }

    .highlight .sr,
    .highlight .ss,
    .highlight .language-json .kc {
        color: var(--rb)
    }

    .highlight .gi {
        color: var(--r4)
    }

    .highlight .l,
    .highlight .ld,
    .highlight .s,
    .highlight .sb,
    .highlight .sc,
    .highlight .sd,
    .highlight .s2,
    .highlight .se,
    .highlight .sh,
    .highlight .si,
    .highlight .sx,
    .highlight .s1 {
        color: var(--r6)
    }

    .highlight .gu {
        color: var(--r8)
    }

    .highlight .c,
    .highlight .cm,
    .highlight .cp,
    .highlight .c1,
    .highlight .cs {
        color: var(--r7);
        font-style: italic
    }

    .highlight .hll {
        background: var(--re)
    }

    .highlight,
    pre.highlight {
        padding: .5rem .8rem
    }

    .highlight .gd,
    .highlight .nt,
    .highlight .vi,
    .highlight .language-json .w+.s2 {
        color: var(--r8)
    }

    .highlight .w {
        color: var(--r1)
    }

    .highlight .err {
        color: var(--c7);
        background-color: var(--rc)
    }

    .highlight .gs,
    .highlight .ow {
        font-weight: 700
    }

    div.highlighter-rouge,
    div.listingblock>div.content,
    figure.highlight {
        margin-top: 0;
        margin-bottom: 0.75rem;
        box-shadow: none;
        -webkit-overflow-scrolling: touch;
        position: relative;
    }

    div.highlighter-rouge>button,
    div.listingblock>div.content>button,
    figure.highlight>button {
        border: .9rem solid var(--c7);
        width: 1rem;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        color: var(--r2);
        box-sizing: content-box
    }

    div.highlighter-rouge>button svg,
    div.listingblock>div.content>button svg,
    figure.highlight>button svg {
        fill: var(--r2)
    }

    div.highlighter-rouge>button:active,
    div.listingblock>div.content>button:active,
    figure.highlight>button:active {
        text-decoration: none;
        outline: none;
        opacity: 1
    }

    div.highlighter-rouge>button:focus,
    div.listingblock>div.content>button:focus,
    figure.highlight>button:focus {
        opacity: 1
    }

    div.highlighter-rouge:hover>button,
    div.listingblock>div.content:hover>button,
    figure.highlight:hover>button {
        background-color: var(--rf);
        cursor: copy;
        opacity: 1
    }

    div.highlighter-rouge div.highlight {
        overflow-x: auto;
        padding: 0.75rem;
        margin: 0;
        border: 0
    }

    div.highlighter-rouge pre.highlight,
    div.highlighter-rouge code {
        padding: 0;
        margin: 0;
        border: 0
    }

    div.listingblock {
        margin-top: 0;
        margin-bottom: 0.75rem
    }

    div.listingblock div.content {
        overflow-x: auto;
        padding: 0.75rem;
        margin: 0;
        border: 0
    }

    div.listingblock div.content>pre,
    div.listingblock code {
        padding: 0;
        margin: 0;
        border: 0
    }

    figure.highlight pre,
    figure.highlight :not(pre)>code {
        overflow-x: auto;
        padding: 0.75rem;
        margin: 0;
        border: 0
    }

    .highlight .table-wrapper {
        padding: 0.75rem 0;
        margin: 0;
        border: 0;
        box-shadow: none
    }

    .highlight .table-wrapper td,
    .highlight .table-wrapper pre {
        min-width: 0;
        padding: 0;
        border: 0
    }



    .highlight .table-wrapper td.gl {
        width: 1em;
        padding-right: 0.75rem;
        padding-left: 0.75rem
    }

    .highlight .table-wrapper pre {
        margin: 0;
        line-height: 2
    }

    .code-example,
    .listingblock>.title {
        padding: 0.75rem;
        margin-bottom: 0.75rem;
        overflow: auto;
        border: 1px solid var(--c5);
        border-radius: 4px
    }

    .code-example+.highlighter-rouge,
    .code-example+.sectionbody .listingblock,
    .code-example+.content,
    .code-example+figure.highlight,
    .listingblock>.title+.highlighter-rouge,
    .listingblock>.title+.sectionbody .listingblock,
    .listingblock>.title+.content,
    .listingblock>.title+figure.highlight {
        position: relative;
        margin-top: -1rem;
        border-right: 1px solid var(--c5);
        border-bottom: 1px solid var(--c5);
        border-left: 1px solid var(--c5);
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .highlight,
    pre.highlight {
        border: 2px solid var(--ra);
    }

}

@media print {

    @page {
        size: A4;
        margin: 2.5cm 2cm 1cm 2cm;

        /*

        @top-left {
            content: attr(data-author) " (" attr(data-license) ")";
            font-size: 8pt;
        }
        @bottom-center {
            content: "· " counter(page) "/" counter(pages) " ·";
            font-size: 8pt;
        }    
        @top-left-corner {
            content: none;
        }    
        @top-center {
            content: none;
        }
        @top-right {
            content: none;
        }    
        @top-right-corner {
            content: none;
        }
        @left-top {
            content: none;
        }
        @left-middle {
            content: none;
        }
        @left-bottom {
            content: none;
        }    
        @right-top {
            content: none;
        }    
        @right-middle {
            content: none;
        }    
        @right-bottom {
            content: none;
        }
        @bottom-left-corner {
            content: none;
        }    
        @bottom-left {
            content: none;
        }   
        @bottom-right {
            content: none;
        }
        @bottom-right-corner {
            content: none;
        }
*/
    }


    a,
    a:visited {
        color: #000000;
    }

    body {
        font-size: 12pt;
    }

    body,
    main {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #index,
    #comments,
    aside,
    h3,
    button {
        display: none!important;
    }

    h1,
    #reading-time {
        text-align: center;
    }

    main footer {
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid #bbbbbb;
    }

    p {
        text-align: justify;
        hyphens: auto;
    }

    main p a[href^="#"]::before {
        content: " (" counter(a) ") ";
        font-size: 8pt;
        font-weight: bold;
    }

    p {
        line-height: 1.5;
        break-inside: avoid;
    }

    main footer p {
        font-style: italic;
        line-height: 1;
    }

    main footer p a {
        font-weight: bold;
        font-style: normal;
    }

    main footer a::before {
        content: " " counter(footnote) ") ";
        font-weight: normal;
        text-align: left;
        display: inline-block;
        width: 1.25rem;
    }

    main footer p a::after {
        content: " \21A9  (" attr(href) "). ";
        font-weight: normal;
        font-size: 8pt;
    }

    #logo-pic {
        filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(6%) hue-rotate(214deg) brightness(103%) contrast(101%);
    }

    #logo-link {
        flex-direction: row;
        font-weight: bold;
    }

    #slogan::before {
        content: ": ";
    }

    #slogan {
        text-transform: lowercase;
        font-size: 11.5pt;
        padding-top: .3rem;
        font-weight: 500;
    }


}