@charset "UTF-8";

/**/

.site-button {
    width:100%;
    height:100%;
    display: inline-block;
}

.site-button:hover {
    background: var(--h2);
    color: #022000;
}


.dropbtn:hover,
.site-button:hover {
    background: var(--cc);
    color: #022000;
}

.nav-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-list .nav-list-item {
    position: relative;
    margin: 0;
}

.nav-list .nav-list-item {
    font-size: 0.875rem !important;
}

@media (min-width: 31.25rem) {
    .nav-list .nav-list-item {
        font-size: 1rem !important;
    }
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item {
        font-size: 0.75rem !important;
    }
}

@media (min-width: 50rem) and (min-width: 31.25rem) {
    .nav-list .nav-list-item {
        font-size: 0.875rem !important;
    }
}

.nav-list .nav-list-item .nav-list-link {
    display: block;
    min-height: 3rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    line-height: 2.5rem;
    padding-right: 3rem;
    padding-left: 1rem;
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item .nav-list-link {
        min-height: 2rem;
        line-height: 1.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.nav-list .nav-list-item .nav-list-link.external>svg {
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
}

.nav-list .nav-list-item .nav-list-link.active {
    font-weight: 600;
    text-decoration: none;
    color: #0d070f;
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
    background: var(--h2);
}

.nav-list .nav-list-item .nav-list-expander {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
    /*
    color: var(--h2);
    */
}

@media (min-width: 50rem) {
    .nav-list .nav-list-item .nav-list-expander {
        width: 2rem;
        height: 2rem;
        padding: 0.5rem;
    }
}

.nav-list .nav-list-item .nav-list-expander:hover {
    background-image: linear-gradient(-90deg, rgb(234.8, 236.82, 244.9) 0%, rgba(234.8, 236.82, 244.9, 0.8) 100%);
}

.nav-list .nav-list-item .nav-list-expander svg {
    transform: rotate(90deg);
}

.nav-list .nav-list-item>.nav-list {
    display: none;
    padding-left: 0.75rem;
    list-style: none;
}

.nav-list .nav-list-item>.nav-list .nav-list-item {
    position: relative;
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-link {
    color: var(--h5);
}

.nav-list .nav-list-item>.nav-list .nav-list-item .nav-list-expander {
    color: var(--h5);
}

.nav-list .nav-list-item.active>.nav-list-expander svg {
    transform: rotate(-90deg);
}

.nav-list .nav-list-item.active>.nav-list {
    display: block;
}

.nav-category {
    padding: 0.5rem 1rem;
    font-weight: 600;
    text-align: start;
    text-transform: uppercase;
    /*    color: #0d070f;*/
    color: #022000;
    /*    border-bottom: 1px solid var(--h2);*/
    letter-spacing: 1px;

}

.nav-category {
    font-size: 0.75rem !important;
}

@media (min-width: 32rem) {
    .nav-category {
        font-size: .9rem !important;
    }
}

@media (min-width: 50rem) {
    .nav-category {
        padding: 0.5rem 2rem;
        margin-top: 1rem;
        text-align: start;
    }

    .nav-category:first-child {
        margin-top: 0;
    }
}

.nav-list.nav-category-list>.nav-list-item {
    margin: 0;
}

.nav-list.nav-category-list>.nav-list-item>.nav-list {
    padding: 0;
}

.nav-list.nav-category-list>.nav-list-item>.nav-list>.nav-list-item>.nav-list-link {
    color: #7253ed;
}

.nav-list.nav-category-list>.nav-list-item>.nav-list>.nav-list-item>.nav-list-expander {
    color: #7253ed;
}

/**/



@font-face {
    font-family: JetBrains;
    src: url('../fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt';
    src: url('../fonts/VisueltPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mediaan';
    src: url('../fonts/Mediaan-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-body: Visuelt;
    --font-title: Mediaan;
    --font-code: JetBrains;
    --font-basic: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

    --c0: #000000;
    --c1: #2d272f;
    --c2: #75715e;
    --c3: #0083bb;
    --c4: #50a04f;
    --c5: #43d089;
    --c6: #e35549;
    --c7: #e05151;
    --c8: #b66a00;
    --c9: #ca7601;
    --ca: #a625a4;
    --cb: #9fa0a6;
    --cc: #f2f8f0;
    /* #FBF8F3 */
    --cd: #f8f8f2;
    --ce: #f9f9f9;
    --cf: #ffffff;
    --h0: #000000;
    --h1: #ff7747;
    --h2: #e3f0df;
    --h3: #edf3eb;
    --h4: #e94c4c;
    --h5: #5c5962;
    --h6: #eeebee;
    --h7: #010205;
    --h8: #959396;
    --hf: #ffffff;
}

::-moz-selection,
::selection,
code::selection,
code span::selection {
    background-color:#b3e9b5;
    color: var(--h7)
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: clamp(1.25rem, 1.162rem + .3756vw, 1.5rem);
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

body {
    font-family: var(--font-body), var(--font-basic);
    font-display: swap;
    top: 0px !important;
    color: #010007;
    background-color: var(--hf);
    display: flex;


    flex-direction: column;
    max-width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    margin: 0;
    pointer-events: all;
    font-size: 1rem;
    position: relative;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: transparent;
}

.overlay-container {
    position: relative;
}



footer p.text-grey-dk-100 {
    font-size: .75rem;
    text-align: center;
    color:var(--h5);
}

a,
a:active {
    color: var(--h1);
}


h1,h2,h3,h4,h5,h6,p,.side-bar * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection {
    background-color: transparent;
    color: inherit;
    border: 1px solid transparent;
    box-shadow: none;
}



.side-bar a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}



/*
    Logo
 */

.custom-logo {
    text-decoration: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;

    color: #0d070f;
    font-weight: 500;
    margin: 0;

}

.custom-logo img {
    vertical-align: middle;
    margin-right: 10px;
}

.custom-slogan {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .65rem;
    color: #55555f;
}


hr {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title), var(--font-basic);
    font-display: swap;
    color: var(--h0);
    margin-top: 1.5rem;
    margin-bottom: 0;
}


details {
    width: 100%;
    max-width: 65ch;

}

details br {
    display: none
}

summary {
    user-select: none;
    cursor: pointer;
    font-family: var(--font-title), var(--font-basic);
    font-display: swap;
    color: var(--h0);
    margin: 0;
    margin-top: .5rem;
    font-size: 1.33rem;
}

details summary {}

details:open summary {}

.side-bar {
    background-color: var(--cc);
    height: auto;
}




.d-none,
.skip-to-main {
    display: none;
}


p .highlighter-rouge {
    font-family: var(--font-body), var(--font-basic);
    font-display: swap;
    font-variant-ligatures: common-ligatures;
}

main>.highlighter-rouge {
    font-family: var(--font-code), var(--font-basic);
    font-variant-ligatures: common-ligatures;
    font-display: swap;
    margin: 0 auto;
    padding: 1rem;
    font-size: .9rem;
}

.highlight {
    max-width: 80ch;
}

.highlight pre {
    white-space: pre-wrap;
}

@media (min-width: 1280px) {

    body {
        flex-direction: row;
    }

    main {
        flex-grow: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: calc(100dvw - 15.5rem);
        padding: 2ch;
    }

    .cp_embed_wrapper {
        margin-top: 1rem;
        width: 100%;
        max-width: 66ch;
    }


    main>iframe {
        min-height: 23.5rem;
    }

    main>.highlighter-rouge {
        width: 100%;
        max-width: 80.5ch;
    }






    main p {
        width: 100%;
        max-width: 65ch;
        font-size-adjust: 0.5;
        letter-spacing: 0;
        line-height: 1.25;
        word-wrap: break-word;
        overflow-wrap: break-word;
        font-feature-settings: "liga" 0;
        hyphens: auto;
        font-weight: 400;
        margin: 0;
        margin-top: 1rem;
        text-align: justify;
    }

    main p+.highlighter-rouge {
        margin-top: 1rem;
    }

    /*
    main p + p {
    }


    main .highlighter-rouge + p {
            margin-top: 1rem;
    }
*/

    .side-bar {
        flex-flow: column nowrap;
        width: 15.5rem;
        border-right: 1px solid var(--h2);
        align-items: flex-end;
    }

}

/**/


/* Highlight */

.language-plaintext.highlighter-rouge {
    color: var(--c1);
    font-weight: 500;
    letter-spacing: 1px
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
    color: var(--ca)
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mo,
.highlight .il,
.highlight .mi {
    color: var(--c8)
}

.highlight .bp,
.highlight .vc,
.highlight .vg,
.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nd,
.highlight .ni,
.highlight .ne,
.highlight .nl,
.highlight .nv,
.highlight .py {
    color: var(--c9)
}

.highlight .sr,
.highlight .ss,
.highlight .language-json .kc {
    color: var(--c3)
}

.highlight .gi {
    color: var(--c5)
}

.highlight .l,
.highlight .ld,
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .s1 {
    color: var(--c4)
}

.highlight .gu {
    color: var(--c2)
}

.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
    color: var(--cb);
    font-style: italic
}

.highlight .hll {
    background: var(--ce)
}

.highlight,
pre.highlight {
    background: var(--cc);
    padding: .5rem .8rem
}

.highlight .gd,
.highlight .nt,
.highlight .vi,
.highlight .language-json .w+.s2 {
    color: var(--c6)
}

.highlight .w {
    color: var(--cd)
}

.highlight .err {
    color: var(--cf);
    background-color: var(--c7)
}

.highlight .gs,
.highlight .ow {
    font-weight: 700
}

div.highlighter-rouge,
div.listingblock>div.content,
figure.highlight {
    margin-top: 0;
    margin-bottom: 0.75rem;
    background-color: var(--h3);
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0;
    border: 2px solid var(--h2);
}

div.highlighter-rouge>button,
div.listingblock>div.content>button,
figure.highlight>button {
    width: 1rem;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    border: 1rem solid var(--h3);
    background-color: var(--h3);
    color: var(--h1);
    box-sizing: content-box
}

div.highlighter-rouge>button svg,
div.listingblock>div.content>button svg,
figure.highlight>button svg {
    fill: var(--h1)
}

div.highlighter-rouge>button:active,
div.listingblock>div.content>button:active,
figure.highlight>button:active {
    text-decoration: none;
    outline: none;
    opacity: 1
}

div.highlighter-rouge>button:focus,
div.listingblock>div.content>button:focus,
figure.highlight>button:focus {
    opacity: 1
}

div.highlighter-rouge:hover>button,
div.listingblock>div.content:hover>button,
figure.highlight:hover>button {
    cursor: copy;
    opacity: 1
}

div.highlighter-rouge div.highlight {
    overflow-x: auto;
    padding: 0.75rem;
    margin: 0;
    border: 0
}

div.highlighter-rouge pre.highlight,
div.highlighter-rouge code {
    padding: 0;
    margin: 0;
    border: 0
}

div.listingblock {
    margin-top: 0;
    margin-bottom: 0.75rem
}

div.listingblock div.content {
    overflow-x: auto;
    padding: 0.75rem;
    margin: 0;
    border: 0
}

div.listingblock div.content>pre,
div.listingblock code {
    padding: 0;
    margin: 0;
    border: 0
}

figure.highlight pre,
figure.highlight :not(pre)>code {
    overflow-x: auto;
    padding: 0.75rem;
    margin: 0;
    border: 0
}

.highlight .table-wrapper {
    padding: 0.75rem 0;
    margin: 0;
    border: 0;
    box-shadow: none
}

.highlight .table-wrapper td,
.highlight .table-wrapper pre {
    min-width: 0;
    padding: 0;
    background-color: var(--h3);
    border: 0
}



.highlight .table-wrapper td.gl {
    width: 1em;
    padding-right: 0.75rem;
    padding-left: 0.75rem
}

.highlight .table-wrapper pre {
    margin: 0;
    line-height: 2
}

.code-example,
.listingblock>.title {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    overflow: auto;
    border: 1px solid var(--h6);
    border-radius: 4px
}

.code-example+.highlighter-rouge,
.code-example+.sectionbody .listingblock,
.code-example+.content,
.code-example+figure.highlight,
.listingblock>.title+.highlighter-rouge,
.listingblock>.title+.sectionbody .listingblock,
.listingblock>.title+.content,
.listingblock>.title+figure.highlight {
    position: relative;
    margin-top: -1rem;
    border-right: 1px solid var(--h6);
    border-bottom: 1px solid var(--h6);
    border-left: 1px solid var(--h6);
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

code.language-mermaid {
    padding: 0;
    background-color: inherit;
    border: 0
}

.highlight,
pre.highlight {
    color: var(--h5);
    background: var(--h3);
    border: 2px solid var(--h2);
}



/* SEARCH */

.search {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    height: 4rem;
    padding: 0.5rem;
    transition: padding linear 200ms;
}

.search-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.62rem 1rem 0.5rem 2.5rem;
    font-size: 1rem;
    color: var(--h5);
    background-color: var(--hf);
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    font-family: var(--font-code), var(--font-basic);
}

.search-label {
    position: absolute;
    display: flex;
    height: 100%;
    padding-left: 1rem;
}

.search-input-wrap {
    position: relative;
    z-index: 1;
    height: 3rem;
    overflow: hidden;
    border-radius: 4px;
    transition: height linear 200ms;
}

.search-label .search-icon {
    width: 1.2rem;
    height: 1.2rem;
    align-self: center;
    color: var(--h8);
}

.search-input:focus {
    outline: 0;
}

.search-input:focus+.search-label .search-icon {
    color: var(--h1);
}

.search-results {
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    max-height: calc(100% - 4rem);
    overflow-y: auto;
    background-color: var(--hf);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-results-list {
    padding-left: 0;
    margin-bottom: 0.25rem;
    list-style: none;
}

.search-results-list {
    font-size: 0.875rem !important;
}

.search-results-list-item {
    padding: 0;
    margin: 0;
}

.search-result {
    display: block;
    padding: 0.25rem 0.75rem;
}

.search-result-title {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.search-result-doc {
    display: flex;
    align-items: center;
    word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
    opacity: 0.5;
}

.search-result-doc.search-result-doc-parent {
    font-size: 0.75rem !important;
}

.search-result-doc .search-result-icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    color: var(--h1);
    flex-shrink: 0;
}

.search-result-doc .search-result-doc-title {
    overflow: auto;
}

.search-result-section {
    margin-left: 1.5rem;
    word-wrap: break-word;
}

.search-result-rel-url {
    display: block;
    margin-left: 1.5rem;
    overflow: hidden;
    color: var(--h8);
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-result-rel-url {
    font-size: 0.5625rem !important;
}

.search-result-previews {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    margin-left: 0.5rem;
    color: var(--h8);
    word-wrap: break-word;
    border-left: 1px solid;
    border-left-color: var(--h6);
}

.search-result-previews {
    font-size: 0.6875rem !important;
}

.search-result-preview+.search-result-preview {
    margin-top: 0.25rem;
}

.search-result-highlight {
    font-weight: bold;
}

.search-no-result {
    padding: 0.5rem 0.75rem;
}

.search-no-result {
    font-size: 0.75rem !important;
}

.search-active .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.search-active .search-input-wrap {
    height: 4rem;
    border-radius: 0;
}

.search-active .search-input {
    background-color: var(--hf);
}

.search-active .search-results {
    display: block;
}

.search-active .search-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease 400ms, width 0s, height 0s;
}

.search-active .main-header {
    padding-top: 4rem;
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-button {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--hf);
    border: 1px solid var(--h3);
    border-radius: 1.75rem;
    align-items: center;
    justify-content: center;
}

.search-result:hover,
.search-result.active {
    background-color: var(--h3);
}



@media (min-width: 31.25rem) {
    .search-results-list {
        font-size: 1rem !important;
    }

    .search-result-title {
        display: inline-block;
        width: 40%;
        padding-right: 0.5rem;
        vertical-align: top;
    }

    .search-result-doc.search-result-doc-parent {
        font-size: 0.875rem !important;
    }

    .search-result-rel-url {
        font-size: 0.625rem !important;
    }

    .search-result-previews {
        font-size: 0.75rem !important;
    }

    .search-result-previews {
        display: inline-block;
        width: 60%;
        padding-left: 0.5rem;
        margin-left: 0;
        vertical-align: top;
    }

    .search-no-result {
        font-size: 0.875rem !important;
    }
}

@media (min-width: 50rem) {
    .search-active .main-header {
        padding-top: 0;
    }

    .search {
        position: relative !important;
        width: auto !important;
        height: 100% !important;
        padding: 0;
        transition: none;
    }

    .search-input {
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        font-size: 0.875rem;
        background-color: var(--hf);
        transition: padding-left linear 200ms;
    }

    .search-label {
        padding-left: 0;
        transition: padding-left linear 200ms;
    }

    .search-results {
        top: 100%;
        width: 33.5rem;
        max-height: calc(100vh - 200%) !important;
    }

    .search-results-list {
        font-size: 0.75rem !important;
    }

    .search-result-doc.search-result-doc-parent {
        font-size: 0.6875rem !important;
    }

    .search-result-doc.search-result-doc-parent {
        font-size: 0.75rem !important;
    }

    .search-active .search-input-wrap {
        width: 33.5rem;
    }

    .search-active .search-input {
        padding-left: 2.3rem;
    }

    .search-active .search-label {
        padding-left: 0.6rem;
    }

    .search-active .main {
        position: fixed;
        right: 0;
        left: 0;
    }

    .search-input-wrap {
        width: 100%;
        max-width: 33.5rem;
        border-radius: 0;
    }
}





/*
Google
*/

.google-src-text {
    z-index: 1
}

#google_translate_element,
.skiptranslate,
.goog-te-banner-frame.skiptranslate,
.goog-tooltip,
.goog-tooltip:hover {
    display: none !important
}

.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important
}

.google-src-text {
    background-color: transparent !important;
    text-decoration: none !important
}