
        -        -ca: #FF7E4B;
                --c0: #111017;
                --ce: #4D7A77;
                --c1: #453E35;
                --c2: #554E45;
                --cd: #A5A983;
                --c3: #C2C5A5;
                --c4: #DFDDCA;
                --cb: #DFF6C3;
                --c5: #E3F0DF;
                --cc: #E3E7D9;
                --c6: #F1F6E5;
                --c7: #FFFFF8;
                --c8: #FF9B67;
                --c9: #FFDEA3;
                --r0: #005F9E;
                --r1: #2F6F91;
                --r2: #333333;
                --r3: #407A52;
                --r4: #4287F5;
                --r5: #4A4A4A;
                --r6: #6B7FBB;
                --r7: #888888;
                --r8: #9366A5;
                --r9: #A41834;
                --ra: #A8C079;
                --rb: #C44D5E;
                --rc: #C64040;
                --rd: #D4E6A5;
                --re: #DFF3C6;
                --rf: #F6FAEB;

