<div class="dropdown notranslate">
    <button class="dropbtn">Translate &rsaquo;</button>
    <div class="dropdown-lang">
        <ul>
            <li><a href="#" class="lang-select site-button" data-lang="en">English</a></li>
            <li><a href="#" class="lang-select site-button" data-lang="es">Español</a></li>
            <li><a href="#" class="lang-select site-button" data-lang="it">Italiano</a></li>
            <li><a href="#" class="lang-select site-button" data-lang="de">Deutsch</a></li>
            <li><a href="#" class="lang-select site-button" data-lang="pt">Português</a></li>
            <li><a href="#" class="lang-select site-button" data-lang="fr">Français</a></li>        
        </ul>
    </div>
</div>