{% capture search_placeholder %}{% include search_placeholder_custom.html %}{% endcapture %}

<div class="search" role="search">
  <div class="search-input-wrap">
    <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search design﹢code"
      aria-label="Search design﹢code" autocomplete="off">
    <label width="24" height="24" for="search-input" class="search-label">
      <span class="icon icon-search"></span>
    </label>
  </div>
  <div id="search-results" class="search-results"></div>
</div>