<div class="side-bar">
  <div class="site-header" role="banner">
    <a href="{{ '/' | relative_url }}" class="lh-tight fs-3 text-grey-dk-200 custom-logo site-title notranslate">
      <img width="36px" height="36px" src="{{ site.favicon_ico | relative_url }}" alt="logo">{{site.title}}
    </a>    
  </div>
  <p class="custom-slogan">{{site.description}}</p>

        <div id="main-header" class="main-header">
          {% if site.search_enabled != false %}
          {% include components/search_header.html %}
          {% else %}
          <div></div>
          {% endif %}
        </div>




  {% include_cached components/site_nav.html %}
  {% capture nav_footer_custom %}
  {%- include nav_footer_custom.html -%}
  {% endcapture %}

  {%- include components/dropdown.html -%}

  {% if site.aux_links %}
  {% include components/aux_nav.html %}
  {% endif %}

  {% if nav_footer_custom != "" %}
  {{ nav_footer_custom }}
  {% else %}
  <footer class="site-footer">
    {%- include components/footer.html -%}
  </footer>
  {% endif %}
</div>