<div class="side-bar side-bar-fixed">
  <div class="site-header" role="banner">
    <a href="{{ '/' | relative_url }}" class="lh-tight fs-3 text-grey-dk-200 custom-logo site-title notranslate">
      <img width="36px" height="36px" src="{{ site.favicon_ico | relative_url }}" alt="logo">{{site.title}}
    </a>    
    <button id="menu-button" class="site-button btn-reset d-none" aria-label="Toggle menu" aria-pressed="false"></button>
  </div>
  <p class="custom-slogan">{{site.description}}</p>
  {% if site.search_enabled != false %}
  {% include components/search_header.html %}
  {% endif %}


  {% if page.has_toc != false %}
     <nav id="nav-sidebar">
       {% include components/toc.html id='sidebar' class='nav.nav-stacked' item_class='toc_li' html=content %}
     </nav>
  {% endif %}

  
  {% include_cached components/site_nav.html %}
  
  
  {%- include components/dropdown.html -%}
  {% if site.aux_links %}
  <div class="nav-category notranslate">Links</div>
  <div class="notranslate aux-nav-container">
    {% include components/aux_nav.html %}
  </div>
  {% endif %}
</div>
