<div class="nav-category">Sections</div>
<nav aria-label="Main" id="site-nav" class="site-nav">
  {% assign home_page = site.html_pages
        | where: "title", "Home"
        | first %}
<ul class="nav-list">  
  {% if home_page %} 
      <li class="nav-list-item">
        <a class="nav-list-link" href="/articles">{{ home_page.title }}</a>
      </li>  
  {% endif %}
   {% assign pages_top = site.html_pages
        | where_exp:"item", "item.title != nil"
        | where_exp:"item", "item.parent == nil"
        | where_exp:"item", "item.nav_exclude != true"
        | where: "title", "Home"
        | size %}
        
  {% if pages_top > 0 %}
    {% for item in site.html_pages
        | where_exp:"item", "item.title != nil"
        | where_exp:"item", "item.parent == nil"
        | where_exp:"item", "item.nav_exclude != true" %}
      {% unless item.title == "Home" %}
      <li class="nav-list-item">
          <a class="nav-list-link" href="/articles{{ item.url }}">{{ item.title }}</a>
      </li>  
      {% endunless %}
    {% endfor %}
  {% endif %}
</ul>
</nav>
