<nav aria-label="Main" id="site-nav" class="site-nav">
  {% assign home_page = site.html_pages
        | where: "title", "Home"
        | first %}
  
  {% if home_page %}
    <div class="nav-item">
      <a href="{{ home_page.url }}">{{ home_page.title }}</a>
    </div>
  {% endif %}

  {% assign pages_top = site.html_pages
        | where_exp:"item", "item.title != nil"
        | where_exp:"item", "item.parent == nil"
        | where_exp:"item", "item.nav_exclude != true"
        | where: "title", "Home"
        | size %}
        
  {% if pages_top > 0 %}
    {% for item in site.html_pages
        | where_exp:"item", "item.title != nil"
        | where_exp:"item", "item.parent == nil"
        | where_exp:"item", "item.nav_exclude != true" %}
      {% unless item.title == "Home" %}
        <div class="nav-item">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </div>
      {% endunless %}
    {% endfor %}
  {% endif %}
</nav>
