<style id="jtd-head-nav-stylesheet">
    .site-nav ul li a {
        background-image: linear-gradient(-90deg, rgb(234.8, 236.82, 244.9) 0%, rgba(234.8, 236.82, 244.9, 0.8) 80%, rgba(234.8, 236.82, 244.9, 0) 100%);
    }
</style>
<style id="jtd-nav-activation">
    .site-nav>ul.nav-list:first-child>li:not(:nth-child(1))>a,
    .site-nav>ul.nav-list:first-child>li>ul>li a {
        background-image: none;
    }

    .site-nav>ul.nav-list:not(:first-child) a,
    .site-nav li.external a {
        background-image: none;
    }

    .site-nav>ul.nav-list:first-child>li:nth-child(1)>a {
        font-weight: 600;
        text-decoration: none;
    }

    .site-nav>ul.nav-category-list>li>button svg,
    .site-nav>ul.nav-list:first-child>li:nth-child(1)>button svg {
        transform: rotate(-90deg);
    }

    .site-nav>ul.nav-category-list>li.nav-list-item>ul.nav-list,
    .site-nav>ul.nav-list:first-child>li.nav-list-item:nth-child(1)>ul.nav-list {
        display: block;
    }
</style>