{% capture _unused %}
{% assign domain = "https://" | append: site.base.url %}
{% assign folder = domain | append: append: "/" | append: site.base.folder %}
{% assign asset = folder | append: "/assets" %}
{% assign image = asset | append: "/images" %}
{% assign icon = image | append: "/favicon.ico" %}
{% endcapture %}<!DOCTYPE html>
<html lang="{{ site.locale | default: 'en_US' }}">
{%- include components/head.html -%}
<body>
    <div id="translate"></div>
    <input type="checkbox" aria-expanded="false" id="menu" autocomplete='off'>
    <header>
        <a tabindex="0" href="https://lucianofedericopereira.github.io/articles" id="logo-link">
            <div id="logo" class="notranslate">
                <img id="logo-pic" width="36px" height="36px"
                    src="https://lucianofedericopereira.github.io/articles/assets/images/favicon.ico" alt="logo">
                design﹢code
            </div>
            <div id="slogan">
                CodeCraft Chronicles
            </div>
        </a>
    </header>
    <label for="menu" aria-label="Toggle Menu" id="menu-label">
        <div class="border" aria-hidden="true"></div>
        <div class="icon icon-menu" aria-hidden="true"></div>
    </label>
    <aside>
        {%- include components/sidebar.html -%}
    </aside>
    <main>
        <label for="toc">
            <div class="icon icon-toc" aria-label="Show Table of Contents"></div>
        </label>
        <h1>{{ page.title | capitalize }}</h1>
        <input type="checkbox" aria-expanded="false" id="toc" autocomplete='off'>
        <div id="index">
            <div id="reading-time"></div>
            <div id="chapters"></div>
        </div>
        {{ content }}
        {% if page.comments %}
        {%- include components/comments.html -%}
        {% endif %}
    </main>
    {%- include components/mermaid.html -%}
</body>

</html>