{% capture _unused %}
{% assign meta = site.meta %}
{% assign domain = "https://" | append: site.base.url %}
{% assign folder = domain | append: "/" | append: site.base.folder %}
{% assign asset = folder | append: "/assets" %}
{% assign css = asset | append: "/codeCraft.css" %}
{% assign js = asset | append: "/codeCraft.js" %}
{% assign icon = asset | append: "/codeCraft.ico" %}
{% endcapture %}<!DOCTYPE html>
<html lang="{{ meta.locale | default: 'en' }}">
{%- include components/head.html -%}
<body>
    <div id="translate"></div>
    <input type="checkbox" aria-expanded="false" id="menu" autocomplete='off'>
    <header>
        <a tabindex="0" href="{{folder}}" id="logo-link">
            <div id="logo" class="notranslate">
                <img id="logo-pic" width="36px" height="36px" src="{{icon}}" alt="logo">
                {{meta.title}}
            </div>
            <div id="slogan">{{meta.tagline}}</div>
        </a>
    </header>
    <label for="menu" aria-label="Toggle Menu" id="menu-label">
        <div class="border" aria-hidden="true"></div>
        <div class="icon icon-menu" aria-hidden="true"></div>
    </label>
    <aside>
        {%- include components/aside.html -%}
    </aside>
    <main>
        {% if page.toc %}<label for="toc"><div class="icon icon-toc" aria-label="Show Table of Contents"></div></label>{% endif %}
        <h1>{{ page.title }}</h1>
        <input type="checkbox" aria-expanded="false" id="toc" autocomplete='off'>
        <div id="index"><div id="reading-time"></div><div id="chapters"></div></div>
        {{ content }}
        {% if page.comments and site.utteranc.repo %}<div id="comments">
            <h3>Comments</h3>
            <div id="comments-utteranc" class="notranslate"></div>
        </div>{% endif %}
    </main>
    <script type="module" async>
        import lunr from 'https://cdn.jsdelivr.net/npm/lunr@{{ site.version.lunr }}/+esm';
        import { codeCraft } from '{{ js }}';
        codeCraft.init(lunr);
    </script>
</body>
</html>