@charset "UTF-8";

main a {
    text-decoration: none;
}

#logo-link {
    text-decoration: none;
    display: inline-flex;
    width: fit-content;
    padding: .5rem;
    row-gap: .45rem;
    align-items: center;
    font-weight: 500;
}
    
#logo {
    display: flex;
    align-items: center;
    column-gap: .3rem;
    font-size: 1rem;
}

#menu,
#toc,
.hidden,
.language-mermaid {
    visibility: hidden;
}

.language-mermaid.mermaid-loaded {
    visibility: visible;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 70%;
    opacity: .9;
}

{% capture _unused %}
{% assign domain="https://" | append: site.base.url %}
{% assign folder=domain | append: "/" | append: site.base.folder %}
{% assign asset=folder | append: "/assets" %}
{% assign image=asset | append: "/images" %}
{% assign font=asset | append: "/fonts" %}
{% assign icon=image | append: "/favicon.ico" %}
{% endcapture %}{% for fontface in site.fonts %}@font-face {
    font-family: '{{ fontface.name }}';
    font-display: swap;
    font-style: normal;
    font-weight: {% if fontface.weight=="Regular" %}400{% elsif fontface.weight=="Medium" %}600 {% else %}400 {% endif %};
    src: url('{{ font }}/{{ fontface.name }}-{{ fontface.weight }}.{{ fontface.extension }}') format('{{ fontface.extension }}');
}{% endfor %}

:root {
    --font-basic:system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto,"Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";
    {% for fnt in site.fonts %}--font-{{fnt.type}}: '{{ fnt.name }}';{% endfor %}
}

body,
header,
main p,
main ul,
main ol,
.search-input {
    font-family: var(--font-body), var(--font-basic);
}

main {
    font-family: var(--font-title), var(--font-basic);
}


@media screen {
    :root {
        --ca: #FF7E4B;
        --c0: #111017;
        --ce: #4D7A77;
        --c1: #453E35;
        --c2: #554E45;
        --cd: #A5A983;
        --c3: #C2C5A5;
        --c4: #DFDDCA;
        --cb: #DFF6C3;
        --c5: #E3F0DF;
        --cc: #E3E7D9;
        --c6: #F1F6E5;
        --c7: #FFFFF8;
        --c8: #FF9B67;
        --c9: #FFDEA3;
        --r0: #005F9E;
        --r1: #2F6F91;
        --r2: #333333;
        --r3: #407A52;
        --r4: #4287F5;
        --r5: #4A4A4A;
        --r6: #6B7FBB;
        --r7: #888888;
        --r8: #9366A5;
        --r9: #A41834;
        --ra: #A8C079;
        --rb: #C44D5E;
        --rc: #C64040;
        --rd: #D4E6A5;
        --re: #DFF3C6;
        --rf: #F6FAEB;
    }

    html {
        font-size: clamp(17px, 15px + 0.3756vw, 22px);
        scroll-behavior: smooth;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
        tab-size: 4;
        max-width: 100dvw;
        overflow-x: hidden;
    }

    body {
        color: var(--c0);
        background-color: var(--c7);
        display: flex;
        position: relative;
        flex-direction: row;
        margin: 0;
        top: 0 !important;
        max-width: 100dvw;
        overflow-x: hidden;
        min-height: 100dvh;
        pointer-events: all;
    }

    main {
        width: 100%;
        position: relative;
    }

    main a {
        text-decoration: none;
    }

    .aside-link {
        display: block;
        width: 100%;
        padding: .6rem 11.75%;
        text-decoration: none;
        color: var(--c1);
    }

    *,
    ::before,
    ::after {
        box-sizing: border-box
    }

    #menu:checked~aside {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 15;
    }

    main a[href]:not([href^="#"]):not(main footer a[href]),
    main a[href]:not([href^="#"]):visited:not(main footer a[href]) {
        text-decoration: none;
        color: var(--ce);
    }
    
    main a[href]:not([href^="#"]):hover:not(main footer a[href]),
    main a[href]:not([href^="#"]):visited:hover:not(main footer a[href]) {
        text-decoration: none;
        color: var(--ca);
    }

}